*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    padding-top: 6%;
    background-image: url('assets/images/rm222-mind-22.jpg');
    background-size : 100%;
}

#contact {
    background: #F4CCFE;
}


